@use '../../styles/utils/index' as u;

.appInputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.appInput {
  border: 1.5px solid #d1d5db;
  border-radius: 12px;
  background: #f7f8fc;
  padding: 10px 16px;
  font-size: 1.15rem;
  color: #444;
  outline: none;
  transition: border 0.2s;
  box-sizing: border-box;
  font-weight: 400;
}

.appInput::placeholder {
  color: #888;
  opacity: 1;
  font-size: 1.15rem;
}

.appInput:focus {
  border: 1.5px solid #a3a7b7;
  background: #fff;
} 