.buttonGroup {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.button {
    width: 90%;
}

.container {
    width: 100%;
}

.title {
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.5;
    color: red;
    margin-bottom: 1rem;
}