@use "../../styles/utils/index" as u;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.18);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: #fff;
  border-radius: 1rem;
  padding: 0rem 1rem;
  width: 90vw;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 4px 32px rgba(0, 0, 0, 0.12);
  position: relative;

  @include u.mqw-from(tablet_p) {
    width: 77vw;
  }

  @include u.mqw-from(tablet_l) {
    width: 44vw;
  }
}

.close {
  position: absolute;
  top: 0.7rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 2rem;
  color: #828fa3;
  cursor: pointer;
}
