@use './../../styles/utils/index' as u;

.heading {
  color: u.color(gray);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: u.rem(18);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
} 