@use 'sass:map';

$colors: (
	primary: #635FC7,
	primary-light: #A8A4FF,
	black-1: #000112,
	black-2: #20212C,
	dark-1: #2B2C37,
	dark-2: #3E3F4E,
	gray: #828FA3,
	gray-light: #E4EBFA,
	bg-light: #F4F7FD,
	white: #FFFFFF,
	red: #EA5555,
	red-light: #FF9898,
);

@function color($key) {
	@return map.get($colors, $key);
}

// Add to image wrapper to show a black square while
// image is still loading in
@mixin load-image-background-color {
	background: color(gray-light);
}