@use "./../styles/utils/index" as u;

.button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: u.rem(50);
  font-weight: 700;
  font-size: u.rem(16);
  padding: u.rem(20);
  cursor: pointer;
  background: u.color(primary);
  color: u.color(white);
  transition: background 0.2s, color 0.2s;
  font-family: inherit;

  @include u.mqw-from(tablet) {
		border-radius: u.rem(31);
    font-size: u.rem(15);
    padding: u.rem(23) u.rem(83);
	}

  &:hover {
    // Default hover for primary
    &.primary {
      background: u.color(primary-light);
    }
    // Default hover for secondary
    &.secondary {
      background: u.color(gray-light);
    }
    // Default hover for destructive
    &.destructive {
      background: u.color(red-light);
    }
  }

  &:active {
    transform: scale(0.96);
    box-shadow: 0 2px 8px 0 rgba(99, 95, 199, 0.10);
  }
}

// .large {
//   font-size: u.rem(32);
//   padding: u.rem(20) u.rem(64);
// }

// .small {
//   font-size: u.rem(24);
//   padding: u.rem(20) u.rem(48);
// }

// .primary.idle {
//   background: #6863c7;
//   color: #fff;
// }
// .primary.hover {
//   background: #a6a3f7;
//   color: #fff;
// }

// .secondary.idle {
//   background: #f2f2fa;
//   color: #6863c7;
// }
// .secondary.hover {
//   background: #d7d6ef;
//   color: #6863c7;
// }

// .destructive.idle {
//   background: #d35d5d;
//   color: #fff;
// }
// .destructive.hover {
//   background: #eea3a3;
//   color: #fff;
// }

.icon {
  display: inline-flex;
  align-items: center;
} 